<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/css/successful.css">
    <title>Successful</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <i  class="ti-arrow-circle-down" 
                style="color: green;
                        font-size: 100px;"
            ></i>
            <h1 style="font-size: 50px;">Successful!!!</h1>
            <h1>Your operation was successful please return to action</h1>
        <a href="/home/<%=user.id%>"> <i class="ti-arrow-left"></i> Back To Home  </a>
    </div>
</body>
</html>